<header class="main-header">

    <div class="header-1">
        <a class="home-logo" href="/"><img class="logo-ml" src="/images/logo-mercado-liebre.svg" alt=""></a>
        <div class="barra-buscar">
            <input type="text" placeholder="Buscar productos, marcas">
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <h3 class="tittle-header"><i class="fa-solid fa-hand-holding-dollar"></i>Compra en cuotas y sin tarjeta de credito</h3>
    </div>        
    
    <div class="navs-header">
        <nav class="nav-buy">
            <ul>
                <li><a href="#" class="link-1">Ofertas</a></li>
                <li><a href="#" class="link-2">Tiendas Oficiales</a></li>
                <li><a href="#" class="link-3">Vender</a></li>
                <li><a href="#" class="link-4">Ayuda</a></li>
            </ul>
        </nav>
        <nav class="nav-login">
            <ul>
                <li><a href="/registrarse" class="link-1">Crea tu cuenta</a><i class="fa-regular fa-address-card"></i></li>
                <li><a href="/iniciar-sesion" class="link-2">Ingresa</a><i class="fa-solid fa-right-to-bracket"></i></li>
                <li><a href="#" class="link-3">Mis compras</a><i class="fa-solid fa-cart-shopping"></i></li>
            </ul>
        </nav>
    </div>

    <div class="burger-menu">
        <i class="fas fa-bars"></i>
    </div>

</header>