<main class="home">
        
    <figure class="home-banner">
        <img src="/images/img-home-banner.jpg" alt="">
    </figure>      
    <!-- PRODUCTS -->
    <section class="recommend">
        <h4 class="tittle-recommend">Basado en tu ultima visita</h4>
        <div class="recommend-container">
            <!-- Cards 1 -->
            <article class="product">
                <figure>
                    <img src="/images/img-cafetera-moulinex.jpg" alt="">
                </figure>
                <div class="details">
                    <i class="fa-solid fa-truck"></i>
                    <div class="prices">
                        <p class="price">$6770</p>
                        <p class="discount">40% OFF</p>
                    </div>
                    <h2 class="name-product">Cafetera Moulinex</h2>
                </div> 
            </article>
            <!-- Cards 2 -->
            <article class="product">
                <figure>
                    <img src="/images/img-macbook-pro-2019.jpg" alt="">
                </figure>
                <div class="details">
                    <i class="fa-solid fa-truck"></i>
                    <div class="prices">
                        <p class="price">$230000</p>
                        <p class="discount">20% OFF</p>
                    </div>
                    <h2 class="name-product">MacBook Pro 2019</h2>
                </div>
            </article>
            <!-- Cards 3 -->
            <article class="product">
                <figure>
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="">
                </figure>
                <div class="details">
                    <i class="fa-solid fa-truck"></i>
                    <div class="prices">
                        <p class="price">$70500</p>
                        <p class="discount">10% OFF</p> 
                    </div>            
                    <h2 class="name-product">Samsung Galaxy S10</h2>
                </div>
            </article>
            <!-- Cards 4 -->
            <article class="product">
                <figure>
                    <img src="/images/img-tv-samsung-smart.jpg" alt="">
                </figure>
                <div class="details">
                    <i class="fa-solid fa-truck"></i>
                    <div class="prices">
                        <p class="price">$23200</p>
                        <p class="discount">5% OFF</p>
                    </div>
                    
                    <h2 class="name-product">SmartTv Samsung 43"</h2>
                </div>
            </article>
        </div>
    </section>

    <section class="offers">
        <!-- PRODUCTS OFFERS -->
        <h4 class="tittle-offers">Ofertas</h4>
        
        <div class="offers-container">
            <!-- Cards 1 -->
            <article class="product">
                <figure>
                    <img src="/images/img-cafetera-moulinex.jpg" alt="">
                </figure>
                <div class="details">
                    <i class="fa-solid fa-truck"></i>
                    <div class="prices">
                        <p class="price">$6770</p>
                        <p class="discount">40% OFF</p>
                    </div>
                    <h2 class="name-product">Cafetera Moulinex</h2>
                </div>
            </article>
            <!-- Cards 2 -->
            <article class="product">
                <figure>
                    <img src="/images/img-macbook-pro-2019.jpg" alt="">
                </figure>
                <div class="details">
                    <i class="fa-solid fa-truck"></i>
                    <div class="prices">
                        <p class="price">$230000</p>
                        <p class="discount">20% OFF</p>
                    </div>
                    <h2 class="name-product">MacBook Pro 2019</h2>
                </div>
            </article>
            <!-- Cards 3 -->
            <article class="product">
                <figure>
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="">
                </figure>
                <div class="details">
                    <i class="fa-solid fa-truck"></i>
                    <div class="prices">
                        <p class="price">$70500</p>
                        <p class="discount">10% OFF</p>
                    </div>     
                    <h2 class="name-product">Samsung Galaxy S10</h2>
                </div>          
            </article>
            <!-- Cards 4 -->
            <article class="product">
                <figure>
                    <img src="/images/img-tv-samsung-smart.jpg" alt="">
                </figure>
                <div class="details">
                    <i class="fa-solid fa-truck"></i>
                    <div class="prices">
                        <p class="price">$23200</p>
                        <p class="discount">5% OFF</p>
                    </div>
                    <h2 class="name-product">SmartTv Samsung 43"</h2>
                </div>
            </article>
        </div>
        
    </section>
</main>