<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head', {view: "Mercado Liebre"}) %>

<body>

    <%- include('./partials/header') %>

    <%- include('./partials/main') %>
    
    <%- include('./partials/footer') %>

</body>
</html>