<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/4b2b993971.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
    <title>Mercado Liebre</title>
</head>
<body>
    <header class="main-header">
        <a href="/"><img class="logo-ml" src="/images/logo-mercado-liebre.svg" alt=""></a>
        <div class="barra-buscar">
            <input type="text" placeholder="Buscar productos, marcas">
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <h3 class="tittle-header">Compra en cuotas y sin tarjeta de credito</h3>
        <nav class="nav-buy">
            <ul>
                <li><a href="#" class="link-1">Ofertas</a></li>
                <li><a href="#" class="link-2">Tiendas Oficiales</a></li>
                <li><a href="#" class="link-3">Vender</a></li>
                <li><a href="#" class="link-4">Ayuda</a></li>
            </ul>
        </nav>
        <nav class="nav-login">
            <ul>
                <li><a href="#" class="link-1">Crea tu cuenta</a><i class="fa-regular fa-address-card"></i></li>
                <li><a href="#" class="link-2">Ingresa</a><i class="fa-solid fa-right-to-bracket"></i></li>
                <li><a href="#" class="link-3">Mis compras</a><i class="fa-solid fa-cart-shopping"></i></li>
            </ul>
        </nav>

        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>

    </header>
    <main class="home">
        
        <figure class="home-banner">
            <img src="/images/img-home-banner.jpg" alt="">
        </figure>      
        <!-- PRODUCTS -->
        <section class="recommend">
            <h4 class="tittle-recommend">Basado en tu ultima visita</h4>
            <div class="recommend-container">
                <!-- Cards 1 -->
                <article class="product">
                    <figure>
                        <img src="/images/img-cafetera-moulinex.jpg" alt="">
                    </figure>
                    <div class="details">
                        <i class="fa-solid fa-truck"></i>
                        <div class="prices">
                            <p class="price">$6770</p>
                            <p class="discount">40% OFF</p>
                        </div>
                        <h2 class="name-product">Cafetera Moulinex</h2>
                    </div> 
                </article>
                <!-- Cards 2 -->
                <article class="product">
                    <figure>
                        <img src="/images/img-macbook-pro-2019.jpg" alt="">
                    </figure>
                    <div class="details">
                        <i class="fa-solid fa-truck"></i>
                        <div class="prices">
                            <p class="price">$230000</p>
                            <p class="discount">20% OFF</p>
                        </div>
                        <h2 class="name-product">MacBook Pro 2019</h2>
                    </div>
                </article>
                <!-- Cards 3 -->
                <article class="product">
                    <figure>
                        <img src="/images/img-samsung-galaxy-s10.jpg" alt="">
                    </figure>
                    <div class="details">
                        <i class="fa-solid fa-truck"></i>
                        <div class="prices">
                            <p class="price">$70500</p>
                            <p class="discount">10% OFF</p> 
                        </div>            
                        <h2 class="name-product">Samsung Galaxy S10</h2>
                    </div>
                </article>
                <!-- Cards 4 -->
                <article class="product">
                    <figure>
                        <img src="/images/img-tv-samsung-smart.jpg" alt="">
                    </figure>
                    <div class="details">
                        <i class="fa-solid fa-truck"></i>
                        <div class="prices">
                            <p class="price">$23200</p>
                            <p class="discount">5% OFF</p>
                        </div>
                        
                        <h2 class="name-product">SmartTv Samsung 43"</h2>
                    </div>
                </article>
            </div>
        </section>
    
        <section class="offers">
            <!-- PRODUCTS OFFERS -->
            <h4 class="tittle-offers">Ofertas</h4>
            
            <div class="offers-container">
                <!-- Cards 1 -->
                <article class="product">
                    <figure>
                        <img src="/images/img-cafetera-moulinex.jpg" alt="">
                    </figure>
                    <div class="details">
                        <i class="fa-solid fa-truck"></i>
                        <div class="prices">
                            <p class="price">$6770</p>
                            <p class="discount">40% OFF</p>
                        </div>
                        <h2 class="name-product">Cafetera Moulinex</h2>
                    </div>
                </article>
                <!-- Cards 2 -->
                <article class="product">
                    <figure>
                        <img src="/images/img-macbook-pro-2019.jpg" alt="">
                    </figure>
                    <div class="details">
                        <i class="fa-solid fa-truck"></i>
                        <div class="prices">
                            <p class="price">$230000</p>
                            <p class="discount">20% OFF</p>
                        </div>
                        <h2 class="name-product">MacBook Pro 2019</h2>
                    </div>
                </article>
                <!-- Cards 3 -->
                <article class="product">
                    <figure>
                        <img src="/images/img-samsung-galaxy-s10.jpg" alt="">
                    </figure>
                    <div class="details">
                        <i class="fa-solid fa-truck"></i>
                        <div class="prices">
                            <p class="price">$70500</p>
                            <p class="discount">10% OFF</p>
                        </div>     
                        <h2 class="name-product">Samsung Galaxy S10</h2>
                    </div>          
                </article>
                <!-- Cards 4 -->
                <article class="product">
                    <figure>
                        <img src="/images/img-tv-samsung-smart.jpg" alt="">
                    </figure>
                    <div class="details">
                        <i class="fa-solid fa-truck"></i>
                        <div class="prices">
                            <p class="price">$23200</p>
                            <p class="discount">5% OFF</p>
                        </div>
                        <h2 class="name-product">SmartTv Samsung 43"</h2>
                    </div>
                </article>
            </div>
            
        </section>
    </main>
    
    <footer class="main-footer">
        <div class="details-footer">
            <ul>
                <li class="element-1">
                    <i class="fa-solid fa-credit-card"></i>
                </li>
                <li class="element-2">
                    <h4>Paga con tarjeta o en efectivo</h4>
                </li>
                <li class="element-3">
                    <p>Con Mercado LibreCash tenes cuotas sin
                        interes con tarjeta o efectivo en puntos de 
                        pago. ¡Y siempre es seguro!</p> 
                </li>
            </ul>
            
            <ul>
                <li class="element-1">
                    <i class="fa-solid fa-gift"></i>
                </li>
                <li class="element-2">
                    <h4>Envio gratis desde los $2500</h4>
                </li>
                <li class="element-3">
                    <p>Solo por estar registrado en Mercado Liebre 
                        tenes envios gratis en miles de productos. Es
                        un beneficio de Mercado Puntos.</p>
                </li>
            </ul>
    
            <ul>
                <li class="element-1">
                    <i class="fa-solid fa-user-shield"></i>
                </li>
                <li class="element-2">
                    <h4>Seguridad de principio a fin</h4>
                </li>
                <li class="element-3">
                    <p>¿No te gusta? ¡Devolvelo! En mercadoLiebre 
                        no hay nada que no puedas hacer porque estas
                        siempre protegid@.</p>
                </li>
            </ul>    
        </div>
        <span>Copyright © 1999-2020 MercadoLiebre S.R.L.</span>
    </footer>
</body>
</html>