<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head', {view: "Detalles de producto"}) %>

<body>

    <%- include('./partials/header') %>

    <h1>Esta es la vista de detalle de producto</h1>

    <%- include('./partials/footer') %>
    
</body>
</html>