<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head', {view : "Registrarse"}) %>

<body>

    <%- include('./partials/header') %>

    <form class="form-container" action="/" method="POST">
        <div class="date-user">
            <input type="text" name="name" placeholder="Nombre y apellido" required>
            <input type="text" name="username" placeholder="Nombre de usuario" required>
            <input type="email" name="email" placeholder="E-mail" required>
        </div>
        
        <h3 class="tittle-form1">Fecha de nacimiento</h3>

        <div class="date-home">
            <input type="date" name="birthdate" required>
            <input type="text" name="homeinfo" placeholder="Domicilio">
        </div>
        
        <h3 class="tittle-form2">Perfil de usuario</h3>

        <div class="type-user">
            <p><input type="radio" name="tipo" value="comprador">Comprador</p>
            <p><input type="radio" name="tipo" value="vendedor">Vendedor</p>
        </div>

        <h3 class="tittle-form3">Intereses</h3>

        <div class="interests">
            <p><input type="checkbox" name="interest" value="Electro">Electro</p>
            <p><input type="checkbox" name="interest" value="Moda">Moda</p>
            <p><input type="checkbox" name="interest" value="Hogar">Hogar</p>
            <p><input type="checkbox" name="interest" value="Juguetería">Juguetería</p>
            <p><input type="checkbox" name="interest" value="Vida sana">Vida sana</p>
        </div>

        <div class="user-date">
            <label>Seleccione una imagen de perfil:</label>
            <input type="file" name="avatar" accept=".jpg" multiple>
            <input type="password" name="clave" placeholder="Contraseña" required>
            <input type="password" name="clave" placeholder="Confirmar contraseña" required>

        </div>
        
        <div class="btn-container">
            <a class="btn" href="/">Enviar</a>
            <a class="btn reset" href="/">Cancelar</a>
        </div>
        
        
    </form>

    <%- include('./partials/footer') %>

</body>

</html>