*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    margin: 0;
    width: 100%;
}

ul{
    list-style: none;
    padding: 0;
}
a{
    text-decoration: none;
    color: black;
}

.price{
    font-size: 18px;

}

.discount{
    font-size: 16px;
}

.description{
    font-size: 16px;
}

span{
    font-size: 12px;
}

section h4{
    font-size: 24px;
}