.main-header{
    background-color: #EAC926;
}

.main-header img{
    width: 50%;
    padding: 15px;
}

.main-header .barra-buscar{
    display: flex;
    width: 80%;
    padding-left: 15px;
}

.main-header .barra-buscar input{
    width: 60%;
}

.main-header .barra-buscar i{
    background-color: #ebebeb;
    border: solid 1px rgba(0, 0, 0, 0.452);
    padding: 2.5px;
    border-radius: 4px;
    margin-left: 5px;
}

.main-header .tittle-header{
    font-size: 12px;
    text-align: center;
}

.main-header .nav-buy{
    padding-left: 15px;
}

.main-header .nav-buy ul{
    margin: 0;
}

.main-header .nav-login{
    padding-left: 15px;
    padding-bottom: 20px;
}

.main-header .nav-login ul{
    margin: 0;
}

.main-header .burger-menu{
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-header .burger-menu i{
    font-size: 25px;
    color: white;
    background-color: #1259c3;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
}

/*  Phone  */
@media (max-width: 361px){
    .main-header .nav-buy{
        display: none;
    }
    .main-header .nav-login{
        display: none;
    }
}
@media (min-width: 361px) {
    .main-header .burger-menu{
        display: none;
    }
    .main-header img{
        width: 200px;
    }
}
@media (min-width: 768px){
    .main-header .barra-buscar input{
        width: 30%;
    }
}
