.main-header{
    background-color: #EAC926;
    width: 100%;
}

.main-header .header-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.main-header .barra-buscar{
    display: flex;
}

.main-header .navs-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-header .navs-header ul{
    display: flex;
    flex-direction: row;
}

.main-header .navs-header ul li{
    margin: 10px;
}

.main-header .navs-header ul li i{
    margin-left: 5px;
}

.main-header .barra-buscar i{
    background-color: #ebebeb;
    border: solid 1px rgba(0, 0, 0, 0.452);
    padding: 2.5px;
    border-radius: 4px;
    margin-left: 5px;
}

.main-header .tittle-header{
    font-size: 12px;
    text-align: center;
}

.main-header .nav-buy{
    padding-left: 15px;
}

.main-header .nav-buy ul{
    margin: 0;
}

.main-header .nav-login{
    padding-left: 15px;
    padding-bottom: 20px;
}

.main-header .nav-login ul{
    margin: 0;
}

.main-header .burger-menu{
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-header .burger-menu i{
    font-size: 25px;
    color: white;
    background-color: #1259c3;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
}

.main-header .tittle-header i{
    margin: 2px;
}

@media (max-width: 767px){
    /* ---- Phones ---- */
    .main-header .nav-buy{
        display: none;
    }
    .main-header .nav-login{
        display: none;
    }
    .main-header .home-logo{
        width: 50%;
    }
    .main-header .home-logo img{
        padding: 15px;
    }
    .main-header .header-1{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .main-header .barra-buscar{
        display: flex;
        align-items: center;
        position: relative;
        width: 50%;
    }
    .main-header .barra-buscar input{
        width: 90%;
        border: none;
        border-radius: 5px;
        padding: 10px;
        margin: auto;
    }
    .main-header .barra-buscar i{
        background: none;
        border: none;
        position: absolute;
        right: 8%;
        background-color: white;
        color: #666;
    }
    .header-1 h3{
        margin: auto;
    }
}
@media (min-width: 768px) {
    /* ---- Tablets ---- */
    .main-header .burger-menu{
        display: none;
    }
    .main-header img{
        width: 200px;
        margin: 15px;
    }
    .main-header .barra-buscar{
        width: 30%;
    }
    .main-header .barra-buscar input{
        width: 100%;
    }
    .main-header .header-1 h3{
        margin-right: 15px;
    }
}
