.home{
    width: 100%;
    background-color: #ebebeb;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}

.home .home-banner{
    width: 100%;
    margin: 0;
}
.home .home-banner img{
    width: 100%;
}

.home .product .details{
    border-top: solid 1px #ebebeb;
    padding: 15px;
}

/* PRODUCTS RECOMMEND */

.home .recommend{
    width: 90%;
}

.home .recommend article{
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: white;
}

.home .recommend .tittle-recommend{
    color: #666;
}

.home .recommend .product figure img{
    width: 100%;
}

.home .recommend .product .details i{
    color: #39b54a;
}

.home .recommend .product .details .discount{
    color: #39b54a;
}

/* OFFERS */

.offers{
    width: 90%;
}


.offers .tittle-offers{
    color: #666;
}

.offers article{
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: white;
}

.offers .product figure img{
    width: 100%;
}

.offers .product .details i{
    color: #39b54a;
}

.offers .product .details .discount{
    color: #39b54a;
}

@media (max-width: 361px){
    .name-product{
        display: none;
    }
    .home-banner{
        display: none;
    }
}

@media (max-width: 767px){
    .home-banner{
        display: none;
    }
}

@media (min-width: 768px) {
    .home .offers .offers-container{
        display: flex;
        flex-direction: row;
    }
    .home .offers .offers-container article{
        margin: 10px;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .home .recommend .recommend-container{
        display: flex;
        flex-direction: row;
    }
    .home .recommend .recommend-container article{
        margin: 10px;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
}

