.home {
    width: 100%;
    background-color: #ebebeb;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}

.home .home-banner {
    width: 100%;
    margin: 0;
}

.home .home-banner img {
    width: 100%;
}

.home .product .details {
    border-top: solid 1px #ebebeb;
    padding: 15px;
    position: relative;
    align-items: center;
}

.home .product .details i{
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    color: #39b54a;
    position: absolute;
    right: 20px;
    top: -15px;
    cursor: pointer; 
    transition: transform 0.3s ease; 
}

.home section .product i:hover {
    transform: rotate(-90deg); 
}

.home .product .details .prices{
    display: flex;
    align-items: center;
}

.home .product .details .price{
    margin: 0px 10px 0px 0px;
}

/* PRODUCTS RECOMMEND */

.home .recommend {
    width: 90%;
}

.home .recommend article {
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: white;
}

.home .recommend .tittle-recommend {
    color: #666;
}

.home .recommend .product figure img {
    width: 100%;
}

.home .recommend .product .details .discount {
    color: #39b54a;
}

/* OFFERS */

.offers {
    width: 90%;
}


.offers .tittle-offers {
    color: #666;
}

.offers article {
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: white;
}

.offers .product figure img {
    width: 100%;
}

.offers .product .details .discount {
    color: #39b54a;
}

.home .name-product {
    opacity: 0;
}

@media (min-width: 361px) {
    .home section .product{
        width: calc(50% - 35px);
        transition: transform 0.3s ease; 
    }
    .home section article:hover {
        transform: scale(1.05);
        box-shadow: 0px 0px 10px rgb(100, 100,100);
        transition: box-shadow 1s;
    }
    .home .name-product{
        opacity: 1;
        visibility: visible;
        transition: opacity 0.5s ease, visibility 0s linear 0s;
    }
}

@media (min-width: 768px) {
    /* ---- Tablets ---- */
    .product{
        width: 45%;
    }
    .home .offers .offers-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .home .offers .offers-container article {
        margin: 10px;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    .home .recommend .recommend-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .home .recommend .recommend-container article {
        margin: 10px;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
}

@media (min-width: 1024px){
    /* ---- Desktop ---- */
    .home .recommend .recommend-container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .home .offers .offers-container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .product{
        width: 60%;
    }
}