
body{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    width: auto;
    padding: 0;
    margin: 0;
}

.logo-ml{
    width: 100px;
    height: 50px;
    margin-left: 20px;
}

.barra-buscar{
    margin-left: 20px;
}

header{
    background-color: #EAC926;
    width: 320px;
}

ul i{
    margin-left: 2px;
}

ul{
    list-style: none;
    position: relative;
    right: 40px;
}

a{
    text-decoration: none;
    color: #000000;
}

.titulo-header{
    margin-left: 50px;
    color: #000000;
}

.banner{
    width: 320px;
}

.producto{
    width: 200px;
    height: 200px;
}

.burger-menu{
    background-color: #03264C;
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 3px;
    margin-left: 145px;
}

.burger-menu i{
    color: #fff;
    font-size: 25px;
    padding: 8px;
}

h4{
    font-size: 24px;
    color: #666;
}

.precio{
    font-size: 18px;
}

.descuento{
    font-size: 16px;
}

.descripcion{
    font-size: 16px;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 320px;
    background-color: #ebebeb;
}

.lista-productos{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    margin: 20px 0px;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 300px;
    margin: 20px 10px;
}

footer h4, p{
    color: #666;
}
footer h4{
    margin: 10px;
}

footer i{
    font-size: 2em;
    margin: 0px;
    color: #1259c3;
}

footer{
    margin-top: 70px;
}